/* ••• Header ••• */

header{
    position: fixed;
    display: flex;
    width: 100%;
    background: $color-1;
    align-items: center;
    justify-content: center;

    .container__start{    
        position: relative;
        display: flex;
        width: 100%;
        background: $color-1;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;

        button.menu__button{    
            width: 30px;
            height: 30px;
            position: relative;
            display: block;
            background: transparent;
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            cursor: pointer;
            margin: 20px;

            i{
                position: relative;
                display: block;
                width: 100%;
                height: 4px;
                background: #fff;
                border-radius: 5px;
                transform-origin: 0;
                transition: transform .3s cubic-bezier(.77,.2,.05,1),background .3s cubic-bezier(.77,.2,.05,1),opacity .3s ease;
            }

            &.active{
                i:nth-child(1){
                    transform: rotate(44deg) translate(2px,-4px);
                    width: 32px;
                }
                i:nth-child(2){
                    opacity: 0;
                }
                i:nth-child(3){
                    transform: rotate(-45deg) translate(2px,4px);
                    width: 32px;
                }
            }
        }
        .logo{
            position: relative;
            width: 150px;
            height: 50px;
            display: block;
            background-image: url(../img/header/logo.png);
            background-size: 100%;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .menu{
            position: absolute;
            display: none;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            background: $color-1;
            top: 100%;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            height: 0;
            overflow: hidden;
            ul{
                width: 14rem;
                color: #fff;
                li{
                    font-family: "Robot-light";
                    list-style-type: none;
                    a{    
                        text-decoration: none;
                        color: #aaa;
                        font-family: "Roboto-light";
                        position: relative;
                        display: block;
                        width: 12rem;
                        transition: 100ms;
                        padding: 10px 20px;
                        font-size: 1.0rem;
                        text-transform: uppercase;
                        &:hover{
                            background: #0f0f0f;
                            transition: 100ms;
                        }
                    }
                }
            }

            &.toggled{
                display: flex;    
                transition: 200ms;
                min-height: 0;
                overflow: hidden;
            }
        }

        .search{
            width: 30%;
            margin-left: 2rem;
            display: flex;
            form{
                position: relative;
                display: flex;
                align-items: center;
                width: 80%;
                height: 40px;
                input{    
                    width: 100%;
                    height: 100%;
                    background-color: $color-3;
                    width: 100%;
                    color: #fff;
                    position: relative;
                    padding-left: 20px;
                    border-radius: 10px;
                    font-family: "Roboto-regular";
                    text-transform: uppercase;
                }
            }
        }
    }

}

/* ••• Header End ••• */

